useDynLib(inarmix)
export(inarmix)
export(diagnose)
export(GenerateMixData)
import(Matrix)
S3method(summary, inarmix)
S3method(print, summary.inarmix)
S3method(print, diagnose.inarmix)
S3method(print, inarmix)
